<%- include('../layout/head.ejs'); %>
  <body>

    <h1>Search Your Book</h1>
    
    <%- include('../layout/header.ejs'); %>

      <form action="/searches" method="POST">
        <fieldset>
          <legend>
            Search a Book!
          </legend>
          <input type="radio" name="searchType" value="title" />
          <label for="name">Title</label>
          <input type="radio" name="searchType" value="author" />
          <label for="author">Author</label>
          <input type="text" name="searchBar" />
          <input type="submit" />
        </fieldset>
      </form>

  </body>
</html>